.bb{
    display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
	background:linear-gradient(145deg, #005aa7, #fffde4);
}

.me{
	position:absolute;
	width:200px;
	height:200px;
	margin-top:-32%;
	margin-left:85%;
	display:flex;
	justify-content:center;
	align-items:center;
}

.me li{
	  position: absolute;
	  left: 0;
	  font-size: 2em; 
	  list-style: none;
	  transform-origin: 100px;
	  transition: 0.5s;
	  transition-delay: calc(0.1s * var(--i));
	  transform: rotate(0deg) translateX(80px);
  }
  .me.active li{
	transform: rotate(calc(360deg / 6*var(--i)));
  }
  .me li a{
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  background:black;
	  width: 40px;
	  outline-color: blue;
	  text-shadow: blue;
	  height: 40px;
	  color:white;	  
	  border-radius: 50%;
	  transform: rotate(calc(360deg / -6*var(--i)));
  }

  .toggle{
	  position: absolute;
	  width: 60px;
	  height: 60px;
	  background: #ddffbc;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  z-index: 10000;
	  border-radius: 50%;
	  cursor: pointer;
	  box-shadow: 0 0 4px rgba(0, 0, 0,0.15);
	  font-size: 2em;
	  transition: transform 1.25s;
  }

  .me.active .toggle{
	  transform: rotate(315deg);
  }

.c{
	position:relative;
	width:350px;
	height:190px;
	background:#fff;
	border-radius:20px;
	box-shadow:0 35px 80px rgba(0,0,0,0.15);
	transition:0.5s;
}

.c:hover{
	height:450px;
}

.imgBx{
	position:absolute;
	width:150px;
	height:150px;
	left:50%;
	top:-40%;
	border-radius:20%;
	transform:translateX(-50%);
	background:#fff;
	box-shadow:0 15px 50px rgba(0,0,0,0.35);
	overflow:hidden;
	transition:0.5s;
}

.c:hover .imgBx{
	width:250px;
	height:250px;
	top:-13%;
}

.imgBx img{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	object-fit:cover;
}

.c .co{
	position : absolute;
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:flex-end;
	overflow:hidden;
}

.c .co .details{
	padding:40px;
	text-align:center;
	width:100%;
	transition:0.5s;
	transform:translateY(150px);
}

.c:hover .co .details{
	transform:translateY(0px);
}

.c .co .details h2{
	font-size:1.25em;
	font-weight:600;
	color:#555;
	line-height:1.2em;
}

.c .co .details h2 span{
	font-size:0.75em;
	font-weight:500;
	opacity:0.5;
}

.c .co .details .data{
	display:flex;
	justify-content:space-between;
	margin:20px 0;
}

.c .co .details .data h3{
	font-size:1em;
	color:#555;
	line-height:1.2em;
	font-weight:600;
}

.c .co .details .data h3 span{
	font-size:0.85em;
	font-weight:400;
	opacity:0.8;
}

.c .co .details .actionBtn{
	display:flex;
	justify-content:space-between;
	gap:20px;
}

.c .co .details .actionBtn button{
	padding:10px 30px;
	border:none;
	border-radius:10px;
	outline:none;
	font-size:1em;
	font-weight:500;
	background:#ff5f95;
	color:#fff;
	font-family:"times new roman";
	cursor:pointer;
}

.c .co .details .actionBtn button:nth-child(2){
	border:1px solid;
	color:#999;
	background:#fff;
}  